<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cywedding.mapper.ImageMapper">

    <!-- SELECT -->
    <select id="selectImageList" parameterType="string" resultType="com.cywedding.dto.Image">
        SELECT
            i.qr_code,
            i.file_name,
            i.image_url,
            COALESCE(v.count, 0) AS count
        FROM image i
        LEFT JOIN (
            SELECT file_name, COUNT(*) AS count
            FROM vote
            GROUP BY file_name
        ) v ON i.file_name = v.file_name
        ORDER BY count DESC
        <if test="plan == 'ECO'">
            LIMIT 10
        </if>
    </select>

    <select id="selectImage" parameterType="string" resultType="com.cywedding.dto.Image">
        SELECT qr_code, image_url
        FROM image
        WHERE file_name = #{fileName}
    </select>

    <!-- INSERT -->
    <insert id="uploadImage" parameterType="com.cywedding.dto.Image">
        INSERT INTO image (qr_code, file_name, image_url)
        VALUES (#{qrCode}, #{fileName}, #{imageUrl})
    </insert>

    <!-- DELETE -->
    <insert id="deleteImage" parameterType="string">
        DELETE FROM image
        WHERE file_name = #{fileName}
    </insert>

</mapper>