<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cywedding.mapper.QRUserMapper">

    <!-- SELECT -->
    <select id="fetchQRUser" parameterType="com.cywedding.dto.QRUser" resultType="com.cywedding.dto.QRUser">
        SELECT
            qu.qr_code,
            qu.group_id,
            qg.group_name,
            qu.is_domain_admin,
            qu.is_admin,
            CASE 
                WHEN gp.max_uploads = qu.upload_count THEN TRUE
                ELSE FALSE 
            END AS is_upload,
            CASE 
                WHEN gp.max_votes = qu.vote_count THEN TRUE
                ELSE FALSE 
            END AS is_vote
        FROM qr_user qu
        INNER JOIN qr_group qg ON qu.group_id = qg.group_id
        INNER JOIN (
            SELECT DISTINCT ON (qg.group_id)
                qg.group_id,
                qg.group_name,
                gp.max_uploads,
                gp.max_votes,
                gp.voting_start,
                gp.voting_end,
                gp.upload_start,
                gp.upload_end
            FROM qr_group qg
            INNER JOIN group_policy gp
                ON qg.group_id = gp.group_id
            ORDER BY qg.group_id, gp.policy_version DESC
        ) gp ON qu.group_id = gp.group_id
        WHERE qr_code = #{qrCode}
        AND qg.group_name = #{groupName}
    </select>

    <select id="fetchQRUserAdmin" parameterType="com.cywedding.dto.QRUser" resultType="com.cywedding.dto.QRUser">
        SELECT
            qu.qr_code,
            (
                SELECT group_id
                FROM qr_group
                WHERE group_name = #{groupName}
            ) AS group_id,
            qu.group_id AS admin_group_id,
            qg.group_name,
            qu.is_domain_admin,
            qu.is_admin,
            CASE 
                WHEN gp.max_uploads = qu.upload_count THEN TRUE
                ELSE FALSE 
            END AS is_upload,
            CASE 
                WHEN gp.max_votes = qu.vote_count THEN TRUE
                ELSE FALSE 
            END AS is_vote
        FROM qr_user qu
        INNER JOIN qr_group qg ON qu.group_id = qg.group_id
        INNER JOIN (
            SELECT DISTINCT ON (qg.group_id)
                qg.group_id,
                qg.group_name,
                gp.max_uploads,
                gp.max_votes,
                gp.voting_start,
                gp.voting_end,
                gp.upload_start,
                gp.upload_end
            FROM qr_group qg
            INNER JOIN group_policy gp
                ON qg.group_id = gp.group_id
            ORDER BY qg.group_id, gp.policy_version DESC
        ) gp ON qu.group_id = gp.group_id
        WHERE qu.qr_code = #{qrCode}
        AND qg.group_name = 'admin'
    </select>

    <!-- UPDATE -->
    <update id="updateUserList" parameterType="map">
        <foreach collection="userList" item="user" separator=";">
            UPDATE qr_user
            <set>
                <choose>
                    <when test="user.type == 'UPLOAD'">
                        upload_count = upload_count + 1
                    </when>
                    <when test="user.type == 'VOTE'">
                        vote_count = vote_count + 1
                    </when>
                    <when test="user.type == 'UPLOAD_CANCEL'">
                        upload_count = GREATEST(upload_count - 1, 0)
                    </when>
                    <when test="user.type == 'VOTE_CANCEL'">
                        vote_count = GREATEST(vote_count - 1, 0)
                    </when>
                </choose>
            </set>
            WHERE qr_code = #{user.qrCode}
                AND group_id = #{user.groupId}
        </foreach>
    </update>

    <!-- DELETE -->
    <delete id="resetUserList" parameterType="int">
        DELETE FROM qr_user
        WHERE group_id = #{groupId}
    </delete>

    <!-- INSERT -->
    <insert id="createUserList" parameterType="java.util.List">
        INSERT INTO qr_user (qr_code, group_id)
        VALUES
        <foreach collection="userList" item="user" separator=",">
            (#{user.qrCode}, #{user.groupId})
        </foreach>
    </insert>

</mapper>